@use "sass:color"
@use 'variables' as vars

@each $k,$v in vars.$colors

  .#{$k}
    color: $v
    &.darken
      color: color.adjust($v, $lightness: - vars.$darken)!important
    &.lighten
      color: color.adjust($v, $lightness: vars.$lighten)!important

  .bg-#{$k}
    background-color: $v
    &.bg-darken
      background-color: color.scale($v, $lightness: - vars.$darken)!important
    &.bg-lighten
      background-color: color.scale($v, $lightness: vars.$lighten)!important

  .border-#{$k}
    border: 1px $v solid
    &.border-darken
      border-color: color.scale($v, $lightness: - vars.$darken)!important
    &.border-lighten
      border-color: color.scale($v, $lightness: vars.$lighten)!important
    &.border-l
      border-top: 0
      border-bottom: 0
      border-left: 1px $v solid
      border-right: 0 
    &.border-r
      border-top: 0
      border-bottom: 1px $v solid
      border-left: 0
      border-right: 1px $v solid
    &.border-b
      border-top: 0
      border-bottom: 1px $v solid
      border-left: 0
      border-right: 0 
    &.border-t
      border-top: 1px $v solid
      border-bottom: 0
      border-left: 0
      border-right: 0
    .border-dashed
      border-style: dashed

.bg-none
    background: none
.bg-cover
    background-size: cover!important
    background-position: center center!important


.border-2
  border-width: 2px!important
.border-3
  border-width: 3px!important
.border-4
  border-width: 4px!important