@use "sass:map"
$theme: ( radius : 16px )!default

/**
 * 显示/隐藏
 */
.hide
  display: none!important
@media screen and (orientation: portrait)
  .hide-mobile
    display: none!important
@media screen and (orientation: landscape)
  .hide-desk
    display: none!important

/**
 * 圆角
 */
.round
  border-radius: map.get($theme,radius)!important
  overflow: hidden
.round-t
  border-radius: map.get($theme,radius) map.get($theme,radius) 0 0
  overflow: hidden
.round-b
  border-radius: 0 0 map.get($theme,radius) map.get($theme,radius)
  overflow: hidden
.round-sink
  width: 6vw
  height: 6vw
  background: radial-gradient(12vw at right top,transparent 50%,#fff 50%)
  
/**
 * 效果
 */
.tap-opacity
  cursor: pointer
  &:active
    opacity: .7
.tap-expand
  cursor: pointer
  &:active
    transform: scale(1.05)
.tap-shrink
  cursor: pointer
  &:active
    transform: scale(.95)

.flip
  transform: rotateY(180deg)
.crop
  overflow: hidden